@model PostCode.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <div class="col-md-3 col-lg-offset-9">
        <a href='@Url.Action("Edit", "Posts", new {id = Model.Id})'>
            <input type='button' value='Edit' class="btn btn-default"/>
        </a>
        <a href='@Url.Action("Delete", "Posts", new {id = Model.Id})'>
            <input type='button' value='Delete' class="btn btn-default"/>
        </a>
    </div>
    <hr/>
    <div hidden="" id="PostId">@Model.Id</div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-1" style="padding-top: 1%">
                @Html.LabelFor(model => model.Content, htmlAttributes: new {@class = "control-label col-md-1"})
            </div>
            <div class="col-md-10" style="padding-top: 1%">
                <textarea name="Content" id="Content" style="max-width: 100%;">@Html.DisplayFor(model => model.Content)</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1" style="padding-top: 3%">
                @Html.LabelFor(model => model.Code, htmlAttributes: new {@class = "control-label col-md-1"})
            </div>
            <div class="col-md-10" style="padding-top: 3%">
                <pre><code>@Html.DisplayFor(model => model.Code)</code></pre>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" style="padding-left: 74%; width: 100%; padding-bottom: 5px">
                Created by @Html.DisplayFor(model => model.User.Email)
            </div>
            <div class="col-md-10" style="padding-left: 78%; width: 100%">
                @Html.DisplayFor(model => model.Data)
            </div>
        </div>
        @foreach (var item in Model.Comments)
        {
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class=" panel panel-default">
                        <div class="panel-heading" id="name+@item.Id">
                            Commented by @item.User.Email
                            <div type="button" data-toggle="modal" data-target="#myModal" class="col-md-push-9 glyphicon glyphicon-pencil" id="@item.Id" onclick=" EditComment(this.id) "></div>
                        </div>
                        <div class="panel-body" id="cont+@item.Id">@item.Content</div>
                    </div>
                </div>
            </div>
        }
        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" id="commentName"></div>
                    <div class="modal-body" id="commentContent">
                        <textarea style="max-width: 100%; width: 100%; resize: none; border-color: #dddddd; border-radius: 4px; padding: 15px" wrap="soft" rows="5"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <textarea id="Comment" style="max-width: 100%; width: 100%; resize: none; border-color: #dddddd; border-radius: 4px; padding: 15px" wrap="soft" rows="5"></textarea>
            </div>
        </div>
        <a style="padding-left: 83%">
            <input id="CommentBtn" type='button' value='Comment' class="btn btn-default"/>
        </a>
        <hr/>
        <a href='@Url.Action("Index", "Posts", new {id = Model.Id})'>
            <input type='button' value='Back to List' class="btn btn-default"/>
        </a>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('pre code').each(function (i, e) {
                hljs.highlightBlock(e);
            });
        });

        $(document).ready(function () {
            $('#Content').markdown({
                autofocus: false,
                hiddenButtons: "",
                initialstate: "preview",
                fullscreen: false
            }).initialstate = "preview";
            $(".md-editor").attr("class", "");
        });

        var getPostId = document.getElementById("PostId").innerHTML;


        $(document).ready(function () {

            $('#CommentBtn').on('click', function () {
                var getContent = document.getElementById("Comment").value;
                $.ajax({
                    url: '/Posts/AddComment',
                    settings: {
                        type: 'POST'
                    },
                    type: 'POST',
                    data: {
                        'PostId': getPostId,
                        'Content': getContent
                    }
                });
            });
        });
    </script>
}